.statistics {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  flex-grow: 1;
  align-items: center;

  &__btn {
    margin-top: 10rem;
    width: 100%;
    max-width: 30rem;
    margin-bottom: 10rem;

    & > .btn {
      width: 100%;
      
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}