.btn {
  border: none;
  padding: 1rem;
  width: 100%;
  font-weight: 400;
  font-size: 2rem;
  border-radius: 100rem;
  outline: none;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  & > p {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    flex: 2;
  }

  &__green {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
      background-color: $color-secondary;
      font-weight: bold;
      cursor: pointer;
    }
  }

  &__white {
    background-color: $color-white-light;
    color: $color-secondary;

    &:hover {
      background-color: $color-white;
      font-weight: bold;
      cursor: pointer;
    }
  }
  
  &__image {
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 0;
    padding: 0;
    height: 3rem;
  }

}