.btn {
  border: none;
  padding: 1rem;
  font-weight: 400;
  padding: .7rem 3rem;
  font-size: $font-size-small;
  border-radius: 100rem;
  outline: none;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(tab-port) {
    font-size: $font-size-xsmall;
    padding: .6rem 2rem;
  }

  & > p {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    flex: 2;
  }

  &-small {
    padding: .5rem 1.5rem;
    font-size: 1.5rem;
  }

  &__green {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
      background-color: $color-secondary;
      cursor: pointer;
    }

    &-disabled {
      background-color: rgba($color-primary, 0.3);
      color: $color-gray;

      &:hover {
        cursor: not-allowed;
        background-color: rgba($color-primary, 0.3);
      }
    }
  }

  &__white {
    background-color: $color-white-light;
    color: $color-secondary;

    &:hover {
      background-color: $color-secondary;
      color: $color-white-light;
      cursor: pointer;
    }
  }
  
  &__imageContainer {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 3rem;

    @include respond(tab-port) {
      height: 2.5rem;
      width: 15%;
    }

    &__image {
      width: 100%;
    }
  }

  &__title {
    width: 80%;
  }
}