*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  display: flex;
}

body {
  min-height: 100%;
  width: 100%;
  font-size: 1.6rem;
  background-image: linear-gradient(to bottom right, $color-bkg-primary, $color-bkg-secondary);
  display: flex;
  flex-grow: 1;
}

.appContainer {
  width: 100%;
  min-height: 100%;
  max-width: 100rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 3rem;
}

a {
  text-decoration: none;
  &:visited {
    text-decoration: none;
    color: black;
  }
  &:active {
    text-decoration: none;
    color: black;
  }
  &:focus {
    text-decoration: none;
    color: black;
  }
}

.pageActions {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  display: flex;

  &__btn {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
