*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  background-image: linear-gradient(to bottom right, $color-bkg-primary, $color-bkg-secondary);
}

.appContainer {
  width: 100%;
  height: 100%;
  max-width: 100rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  &:visited {
    text-decoration: none;
    color: black;
  }
  &:active {
    text-decoration: none;
    color: black;
  }
  &:focus {
    text-decoration: none;
    color: black;
  }
}
