$color-primary: #01BEB3;
$color-secondary: #12697E;

$color-secondary-light: #178994;

$color-gray: #E0E0E0;
$color-blue-light: #8EAFB8;
$color-white: #ffffff;
$color-white-light: #FFFFFF;

$color-bkg-primary: #06566C;
$color-bkg-secondary: #032B36;

// FONT SIZE
$font-size-xlarge: 4.4rem;
$font-size-large: 3.4rem;
$font-size-medium: 2.4rem;
$font-size-small: 2rem;
$font-size-xsmall: 1.6rem;