$color-primary: #01BEB3;
$color-secondary: #12697E;

$color-gray: #E0E0E0;
$color-blue-light: #8EAFB8;
$color-white: #fff;
$color-white-light: #FFFFFF;

$color-bkg-primary: #06566C;
$color-bkg-secondary: #032B36;

$font-size-large: 4.4rem;