.header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  margin: 0 1rem;
  align-self: stretch;
}

.authContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  padding: 0 .5rem;

  & > a {
    color: $color-white-light;
  }

  &:hover {
    cursor: pointer;
    font-weight: bold;
  }
}

.home-icon {
  margin-left: 1rem;
}