.pollInfo {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include respond(phone) {
    padding: 0 2rem;
  }

  &__header {
    color: $color-white;
    margin-bottom: 2rem;

    @include respond(phone) {
      font-size: $font-size-medium;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    &__title {
      color: $color-white;
      margin-bottom: .5rem;
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__value {
        color: $color-primary;
        font-size: $font-size-medium;
        font-weight: 300;

        @include respond(phone) {
          font-size: $font-size-xsmall;
        }

        & > a {
          color: $color-primary;
        }
      }
    }
  }
}